.container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}

.orange-background {
  background-color: var(--accent-color);
  //   width: 335px;
}

.white-background {
  background-color: var(--white-main-color);
}

.dark-background {
  background-color: var(--dark-background-color);
}

.accent-color {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}
