// :root {
//   --white-main-color:
//   --black-main-color:
//   --body-color-light-theme:
//   --body-color-dark-theme:
//   --grey-main-color:
//   --blue-main-color:
//   --blue-color:
//   --blue-secondary-color:
//   --transparent-blue-color:
//   --transparent-secondary-blue-color:
//   --dark-color:
//   --green-color:
//   --blured-card-backdrop-color:
//  --transparent-backdrop-location-weather-card:

//   --dark-grey-text-color:
//   --light-grey-text-color:
//   --main-black-text-color:
//   --white-text-color:

// }

// Fonts

$main-font: 'Manrope';
$sec-font: 'Poppins';
$weather-font: 'Roboto';

// Media breakpoints

// $container-width-mobile: 320px;
// $container-width-tablet: 768px;
// $container-width-desktop: 1280px;
