<section>
  <h2>Chocolate a delicious cure for a bad day</h2>
  <p>Contact us</p>
  <!-- <svg>
    <use href="./images/symbol-defs.svg#icon-instagram"></use>
  </svg> -->
  <!-- <svg>
    <use href="./images/symbol-defs.svg#icon-twitter"></use>
  </svg> -->

  <address>
    <a href="tel:+380(68)443-94-26">+380(68)443-94-26</a><br />
    <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
  </address>

  <nav>
    <ul>
      <li>
        <p><a href="#">Home</a></p>
      </li>
      <li>
        <p><a href="#">How it’s made?</a></p>
      </li>
      <li>
        <p><a href="#">Our products</a></p>
      </li>
      <li>
        <p><a href="#">Top sellers</a></p>
      </li>
      <li>
        <p><a href="#">Chocolate is loved</a></p>
      </li>
    </ul>
  </nav>
</section>
