<footer id="footer">
  <div class="container footer">
    <p class="footer-title">
      <span class="accent-color">Chocolate </span> a delicious cure for a bad
      day
    </p>
    <p class="footer-text">Contact us</p>

    <ul class="list">
      <li>
        <a href="">
          <svg>
            <use href="./images/symbol-defs.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li>
        <a href="">
          <svg>
            <use href="./images/symbol-defs.svg#icon-twitter"></use></svg
        ></a>
      </li>
    </ul>

    <address class="footer-adress">
      <ul class="list">
        <li>
          <a class="footer-number link" href="tel:+380(68)443-94-26"
            >+380(68)443-94-26</a
          >
        </li>
        <li>
          <a class="footer-mail link" href="mailto:simplychoc@gmail.com"
            >simplychoc@gmail.com</a
          >
        </li>
      </ul>
    </address>

    <nav class="footer-nav">
      <ul class="list">
        <li class="footer-item">
          <a class="footer-link link" href="#">Home</a>
        </li>
        <li class="footer-item">
          <a class="footer-link link" href="#">How it’s made?</a>
        </li>
        <li class="footer-item">
          <a class="footer-link link" href="#">Our products</a>
        </li>
        <li class="footer-item">
          <a class="footer-link link" href="#">Top sellers</a>
        </li>
        <li class="footer-item">
          <a class="footer-link link" href="#">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
