<section>
  <h2 class="footer-title">Chocolate a delicious cure for a bad day</h2>
  <p class="footer-text">Contact us</p>
  <!-- <svg>
    <use href="./images/symbol-defs.svg#icon-instagram"></use>
  </svg> -->
  <!-- <svg>
    <use href="./images/symbol-defs.svg#icon-twitter"></use>
  </svg> -->

  <address class="footer-adress">
    <a class="footer-number" href="tel:+380(68)443-94-26">+380(68)443-94-26</a
    ><br />
    <a class="footer-mail" href="mailto:simplychoc@gmail.com"
      >simplychoc@gmail.com</a
    >
  </address>

  <nav class="footer-nav">
    <ul class="footer-list">
      <li class="footer-item">
        <p class="link-text"><a class="footer-link" href="#">Home</a></p>
      </li>
      <li class="footer-item">
        <p class="link-text">
          <a class="footer-link" href="#">How it’s made?</a>
        </p>
      </li>
      <li class="footer-item">
        <p class="link-text">
          <a class="footer-link" href="#">Our products</a>
        </p>
      </li>
      <li class="footer-item">
        <p class="link-text"><a class="footer-link" href="#">Top sellers</a></p>
      </li>
      <li class="footer-item">
        <p class="link-text">
          <a class="footer-link" href="#">Chocolate is loved</a>
        </p>
      </li>
    </ul>
  </nav>
</section>
