<header>
  <a href="#"><span>SIMPLY</span>CHOCOLATE</a>
  <svg>
    <use
      width="36"
      height="36"
      href="./images/symbol-defs.svg#icon-chocolate1"
    ></use>
  </svg>
  <svg>
    <!-- <use style="color: blue" href="./images/symbol-defs.svg#icon-menu"></use> -->
  </svg>
  <h1>
    Treat yourself or a loved one to our finest ingredients for a moment of pure
    delight!
  </h1>
  <a href="#"> Buy now </a>
  <a href="#">How it’s made</a>
  <p>scroll down</p>
  <svg>
    <use width="36" height="36" href="./images/symbol-defs.svg#icon-ok"></use>
  </svg>
</header>
