<section>
  <div class="container hero-background">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight!
    </h1>
    <button class="hero-button" type="button">Buy now</button>

    <a class="hero-link link" href="#">How its made</a>

    <a class="scroll-down link" href="#footer">scroll down</a>
    <div>
      <svg class="hero-ok">
        <use
          width="16"
          height="16"
          href="./images/symbol-defs.svg#icon-ok"
        ></use>
      </svg>
    </div>
  </div>
</section>
