<section>
  <div class="container">
    <h2 class="ingredients-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="orange-title">TASTE SENSATION</span>
    </h2>
    <p class="ingredients-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul>
      <li>
        <div>
          <img
            width="335"
            height="270"
            src="./images/ingredients-image/chocolate-milk.png"
            alt="Milk chocolate"
          />
          <h3>Milk chocolate</h3>
        </div>
      </li>
      <li>
        <div>
          <img
            width="335"
            height="270"
            src="./images/ingredients-image/milk.png"
            alt="Milk"
          />
          <h3>Milk</h3>
        </div>
      </li>

      <li>
        <div>
          <img
            width="335"
            height="270"
            src="./images/ingredients-image/nuts.png"
            alt="Nuts"
          />
          <h3>Nuts</h3>
        </div>
      </li>
      <li>
        <div>
          <img
            width="335"
            height="270"
            src="./images/ingredients-image/coffee.png"
            alt="Chocolate"
          />
          <h3>Chocolate</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
