<section>
  <h2>IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE SENSATION</span></h2>
  <p>
    At Simply Chocolate, we believe that the secret to exceptional chocolate is
    in the details. From the sourcing of the finest ingredients to the careful
    crafting of each individual piece, every step of our process adds up to one
    exceptional taste sensation.
  </p>

  <!-- <ul>
    <li>
      <img
        width="335"
        height="270"
        src="../images/ingredients-image/milk-chocolate.jpg"
        alt="Milk chocolate"
      />
    </li>
    <li>
      <img
        width="335"
        height="270"
        src="../images/ingredients-image/milk.jpg"
        alt="Milk"
      />
    </li>
    <li>
      <img
        width="335"
        height="270"
        src="../images/ingredients-image/hazelnuts.jpg"
        alt="Nuts"
      />
    </li>
    <li>
      <img
        width="335"
        height="270"
        src="../images/ingredients-image/chocolate.jpg"
        alt="Chocolate"
      />
    </li>
  </ul> -->
</section>
