<section>
  <h2>HOW ITS <span>MADE?</span></h2>
  <h3>Try our chocolates today and discover the perfect balance of flavor</h3>
  <video poster="#" src="#"></video>
  <ul>
    <li>
      <p>
        Heat the milk in a saucepan without bringing it to a boil. Add sugar and
        cocoa powder.
      </p>
    </li>
    <li>
      <p>At the same time, prepare a water bath. Melt the butter on it.</p>
    </li>
    <li>
      <p>
        "Mix" the milk mixture and already liquid butter. Mix thoroughly with a
        silicone spatula so that the mass becomes uniform and silky.
      </p>
    </li>
    <li>
      <p>Heat the mixture over low heat, letting it barely boil.</p>
    </li>
    <li>
      <p>
        Pour the chocolate into special containers (can be replaced with ice
        molds). Allow to cool and harden.
      </p>
    </li>
  </ul>
</section>
