<section id="sellers">
  <div class="container">
    <h2 class="sellers-title"><span class="accent-color">Top</span> sellers</h2>
    <img
      width="335"
      src="./images/sellers/chocolate-poster.jpg"
      alt="Dark chocolate"
    />
    <p class="sellers-text">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <img
      width="335"
      src="./images/sellers/chocolate-poster-2.jpg"
      alt="Milke chocolate"
    />
    <button class="sellers-button" type="button">Buy now</button>
  </div>
</section>
