<section>
  <h2 class="rewiews-title">TOP SELLERS</h2>
  <!-- <img src="../images/sellers/chocolate-poster.jpg" alt="Dark chocolate" /> -->
  <p class="rewiews-text">
    Crazy enough chocolate originates from a bean just like the coffee bean
    called Cacao. Cacao has been around for thousands of years and was first
    discovered by the Native American tribe called the Mayans.
  </p>
  <!-- <img src="../images/sellers/chocolate-poster-2.jpg" alt="Milke chocolate" /> -->
  <buttonm class="rewiews-button" type="button">Buy now</button>
</section>
