.benefits-background {
  background-color: var(--dark-background-color);
}

.benefits-list {
}
.benefits-item {
}
.benefits-title {
  color: var(--white-main-color);
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.benefits-text {
  color: var(--white-transparent-color);
  line-height: normal;
}
