.footer-title {
  color: var(--white-main-color);
  font-size: 24px;

  font-weight: 500;
  line-height: calc(28 / 24);
}
.footer-text {
  color: var(--white-main-color);
  text-align: center;
  font-weight: 500;
  line-height: calc(18 / 14) 18px;
}
.footer-adress {
}
.footer-number {
  color: var(--white-main-color);
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  line-height: calc(18 / 14);
}
.footer-mail {
  color: var(--white-main-color);
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  line-height: calc(18 / 14);
}
.footer-nav {
}

.footer-item {
}
.link-text {
}
.footer-link {
  color: var(--white-main-color);
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: calc(16 / 14); /* 114.286% */
}

.footer {
  background-color: var(--dark-background-color);
}
