.ingredients-title {
  color: var(--dark-main-color);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: calc(24 / 20);
  text-transform: uppercase;
}

.ingredients-text {
  color: var(--dark-main-color);
  text-align: center;
  line-height: calc(18 / 14);
}

.ingredients-white-text {
  color: var(--white-main-color);
  font-weight: 600;
  line-height: calc(18 / 14);
  text-transform: uppercase;
}

.ingredients-dark-text {
  color: var(--dark-main-color);
  font-weight: 600;
  line-height: calc(18 / 16);
  text-transform: uppercase;
}
