.ingredients-title {
  color: var(--dark-main-color);
  text-align: center;

  font-size: 20px;

  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.orange-title {
  color: var(--accent-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.ingredients-text {
  color: var(--dark-main-color);
  text-align: center;
  line-height: calc(18 / 14);
}

.ingredients-list {
  list-style: none;
}

.milk {
  background-color: var(--accent-color);
  width: 335px;
}

.ingredients-image {
  width: 224px;
}
