.preparation-title {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  line-height: calc(24 / 20);
  text-transform: uppercase;
}
.secondary-title {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(24 / 18);
}
.preparation-video {
}
.preparation-list {
}
.preparation-link {
}
.preparation-text {
  color: var(--black-main-color);
  line-height: calc(18 / 14);
}
