.products-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: calc(24 / 20) 24px;
  text-transform: uppercase;
}
.products-second-text {
  color: var(--grey-color);
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
}
.products-text {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(24 / 18);
  text-transform: uppercase;
}
.products-button {
}
.ptoducts-link {
}

.product-price {
  font-weight: 600;
}

.price-container {
  background-color: var(--light-background-color);
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
}
