.reviews-title {
  color: var(--black-main-color);

  font-size: 20px;

  font-weight: 600;
  line-height: calc(24 / 20);

  text-transform: uppercase;
  text-align: center;
}
.accent-color {
}
.reviews-name {
  color: var(--black-main-color);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(24 / 18);
}
.reviews-text {
  color: var(--grey-color);
  text-align: center;
  font-weight: 400;
  line-height: calc(18 / 14);
}
.reviews-button {
  color: var(--black-main-color);
  text-align: center;
  font-weight: 600;
  border-radius: 100px;
  border: 1px solid var(--accent-color);
}

.reviews-container {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: var(--white-main-color);
}
